In [120]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [121]:
from bs4 import BeautifulSoup
import requests

In [145]:
#1. SCRAPE DETAILS OF MOST VIEWED YOUTUBE VIDEOS


driver = webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [147]:
rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
rank

Rank=[]
for i in rank:
    if i.text is None:
        Rank.append('Not')
    else:
        Rank.append(i.text)
Rank[:30]

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [148]:
name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
name

Name=[]
for i in name:
    if i.text is None:
        Name.append('Not')
    else:
        Name.append(i.text)
Name[:30]

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Roar"[41]',
 '"Baa Baa Black Sheep"[42]',
 '"Waka Waka (This Time for Africa)"[43]',
 '"Sorry"[44]',
 '"Lakdi Ki Kathi"[45]',
 '"Thinking Out Loud"[46]',
 '"Dark Horse"[47]',
 '"Humpty the train on a fruits ride"[48]',
 '"Perfect"[49]',
 '"Let Her Go"[50]',
 '"Faded"[51]',
 '"Girls Like You"[52]',
 '"Shree Hanuman Chalisa"[53]',
 '"Lean On"[54]']

In [149]:
artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
artist

Artist=[]
for i in artist:
    if i.text is None:
        Artist.append('Not')
    else:
        Artist.append(i.text)
Artist[:30]

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'officialpsy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Katy Perry',
 'Cocomelon - Nursery Rhymes',
 'Shakira',
 'Justin Bieber',
 'Jingle Toons',
 'Ed Sheeran',
 'Katy Perry',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'T-Series Bhakti Sagar',
 'Major Lazer Official']

In [150]:
date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
date

Date=[]
for i in date:
    if i.text is None:
        Date.append('Not')
    else:
        Date.append(i.text)
Date[:30]

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'May 31, 2013',
 'September 5, 2013',
 'June 25, 2018',
 'June 4, 2010',
 'October 22, 2015',
 'June 14, 2018',
 'October 7, 2014',
 'February 20, 2014',
 'January 26, 2018',
 'November 9, 2017',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'May 10, 2011',
 'March 22, 2015']

In [151]:
views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
views

Views=[]
for i in views:
    if i.text is None:
        Views.append('Not')
    else:
        Views.append(i.text)
Views[:30]

['13.48',
 '8.28',
 '6.82',
 '6.45',
 '6.11',
 '6.05',
 '5.62',
 '5.52',
 '5.05',
 '4.99',
 '4.92',
 '4.56',
 '4.46',
 '4.09',
 '3.95',
 '3.89',
 '3.89',
 '3.80',
 '3.75',
 '3.72',
 '3.71',
 '3.67',
 '3.60',
 '3.58',
 '3.56',
 '3.53',
 '3.53',
 '3.50',
 '3.48',
 '3.48']

In [153]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload Date':Date, 'Views':Views})
df.head(30)

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""[31]",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""[44]",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""[47]",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""[49]",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""[51]",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""[52]",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.48

In [24]:
driver.close()

In [25]:
#2. SCRAPE DETAILS OF TEAM INDIA INTERNATIONAL FIXTURES

driver = webdriver.Chrome()
driver.get("https://www.bcci.tv/.")

In [26]:
search=driver.find_element(By.XPATH, '//div[@class="imw-tabs international-tabs"]/a[2]')
search.click()

In [27]:
search1=driver.find_element(By.XPATH, '//div[@class="cSBDisplay ng-binding"]')
search1.click()

In [28]:
search2=driver.find_element(By.XPATH, '/html/body/section/div/div/div/div/div/div[2]/div[1]/div[2]/div/div[1]/div/div[2]/div[19]')
search2.click()

In [29]:
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
series

Series=[]
for i in series:
    if i.text is None:
        Series.append('Not')
    else:
        Series.append(i.text)
Series

['ICC MENS WORLD CUP 2023',
 'ASIA CUP 2023',
 'ASIA CUP 2023',
 'INDIA WOMEN TOUR OF BANGLADESH 2023',
 'INDIA WOMEN TOUR OF BANGLADESH 2023',
 'INDIA WOMEN TOUR OF BANGLADESH 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'ACC MENS EMERGING TEAMS ASIA CUP',
 'INDIA WOMEN TOUR OF BANGLADESH 2023',
 'INDIA WOMEN TOUR OF BANGLADESH 2023',
 'INDIA WOMEN TOUR OF BANGLADESH 2023']

In [30]:
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
place

Place=[]
for i in place:
    if i.text is None:
        Place.append('Not')
    else:
        Place.append(i.text)
Place

['Narendra Modi Stadium, Ahmedabad',
 'R Premadasa International Stadium, Colombo',
 'Pallekele International Cricket Stadium, Pallekele',
 'Shere Bangla National Stadium, Mirpur, Dhaka',
 'Shere Bangla National Stadium, Mirpur, Dhaka',
 'Shere Bangla National Stadium, Mirpur, Dhaka',
 "Queen's Park Oval, Trinidad",
 'Windsor Park, Dominica',
 'R.Premadasa Stadium, Colombo',
 'R.Premadasa Stadium, Colombo',
 'P Sara Oval, Colombo',
 'R.Premadasa Stadium, Colombo',
 'P Sara Oval, Colombo',
 'R.Premadasa Stadium, Colombo',
 'P Sara Oval, Colombo',
 'R.Premadasa Stadium, Colombo',
 'P Sara Oval, Colombo',
 'Colombo Cricket Club Ground, Colombo',
 'Singhalese Sports Club, Colombo',
 'Singhalese Sports Club, Colombo',
 'Colombo Cricket Club Ground, Colombo',
 'Singhalese Sports Club, Colombo',
 'Colombo Cricket Club Ground, Colombo',
 'Shere Bangla National Stadium, Mirpur, Dhaka',
 'Shere Bangla National Stadium, Mirpur, Dhaka',
 'Shere Bangla National Stadium, Mirpur, Dhaka']

In [31]:
date1=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')
date1

Date1=[]
for i in date1:
    if i.text is None:
        Date1.append('Not')
    else:
        Date1.append(i.text)
Date1

['14 OCTOBER, 2023',
 '10 SEPTEMBER, 2023',
 '2 SEPTEMBER, 2023',
 '22 JULY, 2023',
 '19 JULY, 2023',
 '16 JULY, 2023',
 '20 JULY, 2023',
 '12 JULY, 2023',
 '23 JULY, 2023',
 '21 JULY, 2023',
 '21 JULY, 2023',
 '19 JULY, 2023',
 '19 JULY, 2023',
 '18 JULY, 2023',
 '18 JULY, 2023',
 '17 JULY, 2023',
 '17 JULY, 2023',
 '15 JULY, 2023',
 '15 JULY, 2023',
 '14 JULY, 2023',
 '14 JULY, 2023',
 '13 JULY, 2023',
 '13 JULY, 2023',
 '13 JULY, 2023',
 '11 JULY, 2023',
 '9 JULY, 2023']

In [32]:
time=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')
time

Time=[]
for i in time:
    if i.text is None:
        Time.append('Not')
    else:
        Time.append(i.text)
Time

['11:30 AM AST',
 '12:30 PM AST',
 '12:30 PM AST',
 '6:30 AM AST',
 '6:30 AM AST',
 '6:30 AM AST',
 '5:00 PM AST',
 '5:00 PM AST',
 '11:30 AM AST',
 '11:30 AM AST',
 '7:30 AM AST',
 '11:30 AM AST',
 '7:30 AM AST',
 '11:30 AM AST',
 '7:30 AM AST',
 '11:30 AM AST',
 '7:30 AM AST',
 '7:30 AM AST',
 '7:30 AM AST',
 '7:30 AM AST',
 '7:30 AM AST',
 '7:30 AM AST',
 '7:30 AM AST',
 '11:00 AM AST',
 '11:00 AM AST',
 '11:00 AM AST']

In [33]:
dfbcci=pd.DataFrame({'Series':Series,'Place':Place,'Date':Date1,'Time':Time})
dfbcci

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023",11:30 AM AST
1,ASIA CUP 2023,"R Premadasa International Stadium, Colombo","10 SEPTEMBER, 2023",12:30 PM AST
2,ASIA CUP 2023,"Pallekele International Cricket Stadium, Palle...","2 SEPTEMBER, 2023",12:30 PM AST
3,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur, Dhaka","22 JULY, 2023",6:30 AM AST
4,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur, Dhaka","19 JULY, 2023",6:30 AM AST
5,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur, Dhaka","16 JULY, 2023",6:30 AM AST
6,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval, Trinidad","20 JULY, 2023",5:00 PM AST
7,INDIA TOUR OF WEST INDIES 2023,"Windsor Park, Dominica","12 JULY, 2023",5:00 PM AST
8,ACC MENS EMERGING TEAMS ASIA CUP,"R.Premadasa Stadium, Colombo","23 JULY, 2023",11:30 AM AST
9,ACC MENS EMERGING TEAMS ASIA CUP,"R.Premadasa Stadium, Colombo","21 JULY, 2023",11:30 AM AST
10,ACC MENS EMERGING TEAMS ASIA CUP,"P Sara Oval, Colombo","21 JULY, 2023",7:30 AM AST
11,ACC MENS EMERGING TEAMS ASIA CUP,"R.Premadasa Stadium, Colombo","19 JULY, 2023",11:30 AM AST
12,ACC MENS EMERGING TEAMS ASIA CUP,"P Sara Oval, Colombo","19 JULY, 2023",7:30 AM AST
13,ACC MENS EMERGING TEAMS ASIA CUP,"R.Premadasa Stadium, Colombo","18 JULY, 2023",11:30 AM AST
14,ACC MENS EMERGING TEAMS ASIA CUP,"P Sara Oval, Colombo","18 JULY, 2023",7:30 AM AST
15,ACC MENS EMERGING TEAMS ASIA CUP,"R.Premadasa Stadium, Colombo","17 JULY, 2023",11:30 AM AST
16,ACC MENS EMERGING TEAMS ASIA CUP,"P Sara Oval, Colombo","17 JULY, 2023",7:30 AM AST
17,ACC MENS EMERGING TEAMS ASIA CUP,"Colombo Cricket Club Ground, Colombo","15 JULY, 2023",7:30 AM AST
18,ACC MENS EMERGING TEAMS ASIA CUP,"Singhalese Sports Club, Colombo","15 JULY, 2023",7:30 AM AST
19,ACC MENS EMERGING TEAMS ASIA CUP,"Singhalese Sports Club, Colombo","14 JULY, 2023",7:30 AM AST
20,ACC MENS EMERGING TEAMS ASIA CUP,"Colombo Cricket Club Ground, Colombo","14 JULY, 2023",7:30 AM AST
21,ACC MENS EMERGING TEAMS ASIA CUP,"Singhalese Sports Club, Colombo","13 JULY, 2023",7:30 AM AST
22,ACC MENS EMERGING TEAMS ASIA CUP,"Colombo Cricket Club Ground, Colombo","13 JULY, 2023",7:30 AM AST
23,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur, Dhaka","13 JULY, 2023",11:00 AM AST
24,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur, Dhaka","11 JULY, 2023",11:00 AM AST
25,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur, Dhaka","9 JULY, 2023",11:00 AM AST

In [34]:
driver.close()

In [42]:
# 3. SCRAPE DETAILS OF STATE-WISE GDP OF INDIA 

driver = webdriver.Chrome()
driver.get("http://statisticstimes.com/")

In [43]:
srch=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
srch.click()

In [44]:
srch1=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
srch1.click()

In [45]:
srch2=driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
srch2.click()

In [46]:
rank1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
rank1

Rank1=[]
for i in rank1:
    if i.text is None:
        Rank1.append('Not')
    else:
        Rank1.append(i.text)
Rank1

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [47]:
state=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
state

State=[]
for i in state:
    if i.text is None:
        State.append('Not')
    else:
        State.append(i.text)
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Telangana',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Jharkhand',
 'Chhattisgarh',
 'Uttarakhand',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [48]:
gsdp1=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
gsdp1

GSDP1=[]
for i in gsdp1:
    if i.text is None:
        GSDP1.append('Not')
    else:
        GSDP1.append(i.text)
GSDP1

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-',
 '2,332,992',
 '1,465,361',
 '1,404,761',
 '1,351,553',
 '1,322,936',
 '995,502',
 '845,247',
 '782,370',
 '776,140',
 '737,156',
 '707,542',
 '704,529',
 '666,075',
 '486,776',
 '472,506',
 '428,031',
 '282,782',
 '271,990',
 '266,537',
 '221,871',
 '133,303',
 '129,877',
 '66,060',
 '44,835',
 '37,571',
 '31,415',
 '29,544',
 '25,323',
 '25,141',
 '24,534',
 '22,488',
 '20,947',
 '-']

In [51]:
gsdp2=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
gsdp2

GSDP2=[]
for i in gsdp2:
    if i.text is None:
        GSDP2.append('Not')
    else:
        GSDP2.append(i.text)
GSDP2

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-',
 '-',
 '1,659,210',
 '1,495,758',
 '1,476,983',
 '-',
 '1,150,711',
 '916,014',
 '881,873',
 '875,429',
 '827,019',
 '-',
 '779,647',
 '755,790',
 '562,710',
 '517,521',
 '457,757',
 '-',
 '301,242',
 '288,041',
 '-',
 '143,063',
 '-',
 '72,181',
 '50,227',
 '-',
 '34,823',
 '32,833',
 '29,148',
 '28,391',
 '-',
 '-',
 '24,424',
 '-']

In [52]:
share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
share

Share=[]
for i in share:
    if i.text is None:
        Share.append('Not')
    else:
        Share.append(i.text)
Share

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-',
 '13.97%',
 '8.77%',
 '8.41%',
 '8.09%',
 '7.92%',
 '5.96%',
 '5.06%',
 '4.68%',
 '4.65%',
 '4.41%',
 '4.24%',
 '4.22%',
 '3.99%',
 '2.91%',
 '2.83%',
 '2.56%',
 '1.69%',
 '1.63%',
 '1.60%',
 '1.33%',
 '0.80%',
 '0.78%',
 '0.40%',
 '0.27%',
 '0.22%',
 '0.19%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.15%',
 '0.13%',
 '0.13%',
 '-']

In [53]:
gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]')
gdp

GDP=[]
for i in gdp:
    if i.text is None:
        GDP.append('Not')
    else:
        GDP.append(i.text)
GDP

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-',
 '-',
 '1,167,776',
 '1,015,735',
 '1,035,131',
 '-',
 '713,376',
 '630,693',
 '594,806',
 '595,605',
 '496,798',
 '-',
 '568,265',
 '514,983',
 '377,276',
 '374,015',
 '344,437',
 '-',
 '218,232',
 '210,837',
 '-',
 '107,171',
 '-',
 '56,810',
 '35,980',
 '-',
 '22,291',
 '23,564',
 '18,549',
 '17,060',
 '-',
 '-',
 '17,797',
 '-']

In [55]:
dfGDP=pd.DataFrame({'Rank':Rank1,'State':State,'GSDP(18-19)-at current prices':GSDP1,'GSDP(19-20)-at current prices':GSDP2, 'Share(18-19)':Share, 'GDP($ Billion)':GDP})
dfGDP

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share(18-19),GDP($ Billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"25,141","28,391",0.15%,"17,060"
62,30,Nagaland,"24,534",-,0.15%,-
63,31,Arunachal Pradesh,"22,488",-,0.13%,-
64,32,Mizoram,"20,947","24,424",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

In [56]:
driver.close()

In [57]:
#4.SCRAPE THE DETAILS OF TRENDING REPOSITORIES ON GITHUB.COM

driver = webdriver.Chrome()
driver.get("https://github.com/")

In [58]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search_btn.click()

In [59]:
search1=driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search1.click()

In [60]:
title=driver.find_elements(By.XPATH,'//a[@class="Link"]')
title

Titles=[]
for i in title:
    if i.text is None:
        Titles.append('Not')
    else:
        Titles.append(i.text)
Titles

['ByteByteGoHq / system-design-101',
 'localsend / localsend',
 'NVIDIA / TensorRT-LLM',
 'cpacker / MemGPT',
 'OpenBMB / XAgent',
 'WisdomShell / codeshell',
 'Planetary-Computers / autotab-starter',
 'termux / termux-app',
 'imartinez / privateGPT',
 'cloudcommunity / Free-Certifications',
 'EbookFoundation / free-programming-books',
 'KillianLucas / open-interpreter',
 'epicweb-dev / full-stack-foundations',
 'commaai / openpilot',
 'krishnaik06 / The-Grand-Complete-Data-Science-Materials',
 'neuralmagic / deepsparse',
 'modularml / mojo',
 'o3de / o3de',
 'OpenTalker / video-retalking',
 'lyswhut / lx-music-desktop',
 'IceWhaleTech / CasaOS',
 'alex-xu-system / bytebytego',
 'AUTOMATIC1111 / stable-diffusion-webui',
 'ethereum / EIPs',
 'FalconForceTeam / FalconHound']

In [61]:
description=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
description

Description=[]
for i in description:
    if i.text is None:
        Description.append('Not')
    else:
        Description.append(i.text)
Description

['Explain complex systems using visuals and simple terms. Help you prepare for system design interviews.',
 'An open source cross-platform alternative to AirDrop',
 'TensorRT-LLM provides users with an easy-to-use Python API to define Large Language Models (LLMs) and build TensorRT engines that contain state-of-the-art optimizations to perform inference efficiently on NVIDIA GPUs. TensorRT-LLM also contains components to create Python and C++ runtimes that execute those TensorRT engines.',
 'Teaching LLMs memory management for unbounded context 📚🦙',
 'An Autonomous LLM Agent for Complex Task Solving',
 'A series of code large language models developed by PKU-KCL',
 'Build browser agents for real world tasks',
 'Termux - a terminal emulator application for Android OS extendible by variety of packages.',
 'Interact with your documents using the power of GPT, 100% privately, no data leaks',
 'A curated list of free courses & certifications.',
 '📚 Freely available programming books',
 "OpenAI's Code Interpreter in your terminal, running locally",
 'Learn the foundational skills of building full stack web applications.',
 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for 250+ supported car makes and models.',
 'Sparsity-aware deep learning inference runtime for CPUs',
 'The Mojo Programming Language',
 'Open 3D Engine (O3DE) is an Apache 2.0-licensed multi-platform 3D engine that enables developers and content creators to build AAA games, cinema-quality 3D worlds, and high-fidelity simulations without any fees or commercial obligations.',
 '[SIGGRAPH Asia 2022] VideoReTalking: Audio-based Lip Synchronization for Talking Head Video Editing In the Wild',
 '一个基于 electron 的音乐软件',
 'CasaOS - A simple, easy-to-use, elegant open-source Personal Cloud system.',
 'Stable Diffusion web UI',
 'The Ethereum Improvement Proposal repository',
 'FalconHound is a blue team multi-tool. It allows you to utilize and enhance the power of BloodHound in a more automated fashion. It is designed to be used in conjunction with a SIEM or other log aggregation tool.']

In [62]:
language=driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
language

Language=[]
for i in language:
    if i.text is None:
        Language.append('Not')
    else:
        Language.append(i.text)
Language

['Dart',
 'C++',
 'Python',
 'TypeScript',
 'Python',
 'Python',
 'Java',
 'Python',
 'Python',
 'TypeScript',
 'Python',
 'Jupyter Notebook',
 'Python',
 'C++',
 'Python',
 'TypeScript',
 'Go',
 'Python',
 'Solidity',
 'Go']

In [63]:
count55=driver.find_elements(By.XPATH, '//div[@class="f6 color-fg-muted mt-2"]/a[2]')
count55

Count55=[]
for i in count55:
    if i.text is None:
        Count55.append('Not')
    else:
        Count55.append(i.text)
Count55

['2,220',
 '926',
 '110',
 '325',
 '199',
 '48',
 '25',
 '2,902',
 '5,152',
 '906',
 '58,094',
 '2,603',
 '63',
 '7,789',
 '1,690',
 '117',
 '2,037',
 '2,009',
 '318',
 '5,056',
 '951',
 '391',
 '21,308',
 '5,178',
 '11']

In [70]:
len(Language)

20

In [72]:
dfgithub=pd.DataFrame({'Repository title':Titles[:20], 'Repository Description':Description[:20], 'Contributors Count':Count55[:20], 'Language Used':Language[:20]})
dfgithub
dfgithub.head(20)

,Repository title,Repository Description,Contributors Count,Language Used
0,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,"2,220",Dart
1,localsend / localsend,An open source cross-platform alternative to A...,926,C++
2,NVIDIA / TensorRT-LLM,TensorRT-LLM provides users with an easy-to-us...,110,Python
3,cpacker / MemGPT,Teaching LLMs memory management for unbounded ...,325,TypeScript
4,OpenBMB / XAgent,An Autonomous LLM Agent for Complex Task Solving,199,Python
5,WisdomShell / codeshell,A series of code large language models develop...,48,Python
6,Planetary-Computers / autotab-starter,Build browser agents for real world tasks,25,Java
7,termux / termux-app,Termux - a terminal emulator application for A...,"2,902",Python
8,imartinez / privateGPT,Interact with your documents using the power o...,"5,152",Python
9,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,906,TypeScript
10,EbookFoundation / free-programming-books,📚 Freely available programming books,"58,094",Python
11,KillianLucas / open-interpreter,"OpenAI's Code Interpreter in your terminal, ru...","2,603",Jupyter Notebook
12,epicweb-dev / full-stack-foundations,Learn the foundational skills of building full...,63,Python
13,commaai / openpilot,openpilot is an open source driver assistance ...,"7,789",C++
14,krishnaik06 / The-Grand-Complete-Data-Science-...,Sparsity-aware deep learning inference runtime...,"1,690",Python
15,neuralmagic / deepsparse,The Mojo Programming Language,117,TypeScript
16,modularml / mojo,Open 3D Engine (O3DE) is an Apache 2.0-license...,"2,037",Go
17,o3de / o3de,[SIGGRAPH Asia 2022] VideoReTalking: Audio-bas...,"2,009",Python
18,OpenTalker / video-retalking,一个基于 electron 的音乐软件,318,Solidity
19,lyswhut / lx-music-desktop,"CasaOS - A simple, easy-to-use, elegant open-s...","5,056",Go

In [73]:
driver.close()

In [74]:
7. #SCRAPE THE DETAILS OF HIGHEST SELLING NOVELS

driver = webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [75]:
book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
book

Book=[]
for i in book:
    if i.text is None:
        Book.append('Not')
    else:
        Book.append(i.text)
Book

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [76]:
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
author

Author=[]
for i in author:
    if i.text is None:
        Author.append('Not')
    else:
        Author.append(i.text)
Author

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [77]:
volumes=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
volumes

Volumes=[]
for i in volumes:
    if i.text is None:
        Volumes.append('Not')
    else:
        Volumes.append(i.text)
Volumes

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [78]:
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
publisher

Publisher=[]
for i in publisher:
    if i.text is None:
        Publisher.append('Not')
    else:
        Publisher.append(i.text)
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [79]:
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
genre

Genre=[]
for i in genre:
    Genre.append(i.text)
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [80]:
dfselling=pd.DataFrame({'Book Name':Book,'Author Name':Author,'Volumes Sold':Volumes,'Publisher':Publisher, 'Genre': Genre})
dfselling

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [81]:
driver.close()

In [82]:
#7. SCRAPE THE DETAILS OF MOST WATCHED TV SERIES OF ALL TIME

driver = webdriver.Chrome()
driver.get("https://www.imdb.com/list/ls095964455/")

In [83]:
nameee=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a[1]')
nameee

Nameee=[]
for i in nameee:
    Nameee.append(i.text)
Nameee

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [84]:
year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
year

Year=[]
for i in year:
    Year.append(i.text)
Year

['(2011–2019)',
 '(2016–2025)',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017–2023)',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011– )',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(I) (2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018–2024)',
 '(2019–2023)',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018–2024)',
 '(2006–2013)',
 '(2015–2023)',
 '(1999– )',
 '(2013–2023)',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2024)',
 '(2014– )',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016–2023)',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [85]:
genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
genre

Genre=[]
for i in genre:
    Genre.append(i.text)
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Drama, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [86]:
runtime=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
runtime

Runtime=[]
for i in runtime:
    Runtime.append(i.text)
Runtime

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '2,109 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [87]:
rating=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
rating

Rating=[]
for i in rating:
    Rating.append(i.text)
Rating

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8',
 '6.5',
 '7.6',
 '7.5',
 '7.5',
 '8.2',
 '8.2',
 '8.7',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.4',
 '8.5',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8',
 '8.7',
 '8.7',
 '7.3',
 '8.3',
 '8.5',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '9',
 '8.1',
 '8.5',
 '8.2',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.2',
 '8.6',
 '9.3',
 '7.8',
 '7.5',
 '7.8',
 '8.1',
 '7',
 '8.6']

In [88]:
votes=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
votes

Votes=[]
for i in votes:
    Votes.append(i.text)
Votes

['2,214,198',
 '1,283,824',
 '1,050,760',
 '308,704',
 '267,665',
 '314,863',
 '152,309',
 '330,505',
 '363,818',
 '441,769',
 '511,111',
 '844,401',
 '615,551',
 '970,492',
 '564,214',
 '175,075',
 '340,178',
 '335,293',
 '2,051,310',
 '345,011',
 '469,276',
 '564,745',
 '162,004',
 '159,317',
 '425,887',
 '233,088',
 '454,472',
 '462,528',
 '1,050,032',
 '713,293',
 '454,918',
 '407,436',
 '144,064',
 '128,059',
 '186,930',
 '160,172',
 '237,596',
 '522,348',
 '222,625',
 '464,198',
 '571,923',
 '68,377',
 '210,976',
 '521,912',
 '423,420',
 '87,343',
 '330,351',
 '266,964',
 '239,113',
 '223,231',
 '286,158',
 '749,096',
 '138,894',
 '356,468',
 '272,466',
 '579,998',
 '612,595',
 '492,308',
 '63,026',
 '115,025',
 '354,604',
 '77,573',
 '108,689',
 '251,355',
 '104,606',
 '108,174',
 '56,684',
 '153,526',
 '396,039',
 '344,665',
 '110,569',
 '265,365',
 '611,849',
 '111,223',
 '136,038',
 '611,171',
 '114,322',
 '255,654',
 '99,701',
 '24,288',
 '153,032',
 '180,018',
 '136,979',
 '40,322',
 '318,119',
 '123,367',
 '137,048',
 '78,223',
 '113,859',
 '216,627',
 '31,495',
 '195,166',
 '235,468',
 '825,900',
 '72,472',
 '52,975',
 '65,040',
 '211,990',
 '44,134',
 '270,784']

In [90]:
dfTV=pd.DataFrame({'Name':Nameee,'Year Span':Year,'Genre':Genre,'Run time':Runtime, 'Ratings': Rating, 'Votes':Votes})
dfTV

,Name,Year Span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,214,198"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,824"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,760"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,704"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,665"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,975"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,040"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,990"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,134"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,784"

In [91]:
driver.close()

In [122]:
#8. SCRAPE DETAILS OF DATASET FROM UCI MACHINE LEARNING REPOSITORIES

driver = webdriver.Chrome()
driver.get("https://archive.ics.uci.edu/")

In [123]:
search=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
search.click()

In [124]:
searchh=driver.find_element(By.XPATH,'//label[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]/div[2]')
searchh.click()

In [125]:
dataset=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
dataset

Dataset=[]
for i in dataset:
    Dataset.append(i.text)
Dataset

['Iris',
 'Heart Disease',
 'Adult',
 'Wine',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Diabetes',
 'Dry Bean Dataset',
 'Car Evaluation',
 'Rice (Cammeo and Osmancik)',
 'Wine Quality']

In [126]:
datatype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span[1]')
datatype

Datatype=[]
for i in datatype:
    Datatype.append(i.text)
Datatype

['Tabular',
 'Multivariate',
 'Multivariate',
 'Tabular',
 'Multivariate',
 '',
 'Multivariate',
 'Multivariate',
 'Multivariate',
 'Multivariate']

In [127]:
task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]')
task

Task=[]
for i in task:
    Task.append(i.text)
Task

['Classification',
 'Classification',
 'Classification',
 'Classification',
 'Classification',
 '',
 'Classification',
 'Classification',
 'Classification',
 'Classification, Regression']

In [128]:
attribute=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
attribute

Attribute=[]
for i in attribute:
    Attribute.append(i.text)
Attribute

['Real',
 'Categorical, Integer, Real',
 'Categorical, Integer',
 'Integer, Real',
 'Real',
 'Categorical, Integer',
 'Integer, Real',
 'Categorical',
 'Real',
 'Real']

In [129]:
instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
instances

Instances=[]
for i in instances:
    Instances.append(i.text)
Instances

['150 Instances',
 '303 Instances',
 '48.84K Instances',
 '178 Instances',
 '569 Instances',
 '',
 '13.61K Instances',
 '1.73K Instances',
 '3.81K Instances',
 '4.9K Instances']

In [139]:
no_attributes=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
no_attributes

No_attributes=[]
for i in no_attributes:
    No_attributes.append(i.text)
No_attributes

['4 Features',
 '13 Features',
 '14 Features',
 '13 Features',
 '30 Features',
 '20 Features',
 '16 Features',
 '6 Features',
 '8 Features',
 '12 Features']

In [101]:
year=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
year

Year=[]
for i in year:
    Year.append(i.text)
Year

['7/1/1988',
 '7/1/1988',
 '5/1/1996',
 '7/1/1991',
 '11/1/1995',
 'N/A',
 '9/14/2020',
 '6/1/1997',
 '10/6/2019',
 '10/7/2009']

In [138]:
dfUCI=pd.DataFrame({'Dataset Name':Dataset,'Dataset type':Datatype,'Task':Task,'Attribute Type':Attribute, 'No of Instances': Instances, 'No of Attribute': No_attributes, 'Year': Year})

ins = dfUCI["No of Instances"].str.replace(" Instances", " ")

atr = dfUCI["No of Attribute"].str.replace(" Features", " ")

dfUCI2=pd.DataFrame({'Dataset Name':Dataset,'Dataset type':Datatype,'Task':Task,'Attribute Type':Attribute, 'No of Instances': ins, 'No of Attribute': atr, 'Year': Year})
dfUCI2

,Dataset Name,Dataset type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K,14,5/1/1996
3,Wine,Tabular,Classification,"Integer, Real",178,13,7/1/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,11/1/1995
5,Diabetes,,,"Categorical, Integer",,20,N/A
6,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K,16,9/14/2020
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K,6,6/1/1997
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K,8,10/6/2019
9,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K,12,10/7/2009